<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div style="padding: 10px; float: left;">
			<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" style="width: 500px; font-family:'Open Sans',Helvetica, Arial, sans-serif; font-size:14px; line-height:20px; color: #4D4B47; border-left: 1px solid #DBDBDB; border-right: 1px solid #DBDBDB; border-bottom: 1px solid #DBDBDB;background-color:#FFF">
				<tbody>
					<tr>
						<td style="padding: 10px; background-color:#57c77f; border-top: 3px solid #055421; border-bottom: 1px solid #DBDBDB;">
							<a href="http://www.maiscambio.com.br" style="color: white; font-weight: bold; text-decoration: none;" target="_blank">MaisC&acirc;mbio</a>
						</td>
					</tr>	
					<tr >
						<td style="text-align: center; padding: 20px 0px; border-bottom: 1px solid #DBDBDB;">
							   <h1>Ol&aacute;, <small><i>seu cadastro em breve ser&aacute; ativado.</i></small></h1>
							   <h3 class="nome_fantasia">#___NOME_FANTASIA___#</h3>
							   <h3 class="cnpj_cpf_id_estrangeiro">#___CNPJ_CPF_ID_ESTRANGEIRO___#</h3>
							   <h3 class="usuario_apelido">#___USUARIO_APELIDO___#</h3>
						</td>					
					 </tr>
					<tr>
						<td style="padding-left: 30px; padding-right: 30px">
							<p style="text-align: left">
								Estamos &agrave; disposi&ccedil;&atilde;o para eventuais d&uacute;vidas.
								<br />
								<br />
								<i>
									Atenciosamente,
									<br />
									Equipe <b>MaisC&acirc;mbio<b>.
								</i>
							</p>
						</td>
					</tr>
					<tr>
						<td bgcolor="#edeeee" style="padding: 10px; text-align: center; color: #2980b9;">
							<div>
								<i>
									<a href="http://www.maiscambio.com.br" target="_blank" style="text-decoration:none; color: #2980b9;">www.maiscambio.com.br</a>
								</i>
							</div>
							<div style="padding-top: 5px;">
								<small>
									<i>
										<span style="color: #2980b9;">(011) 97660-8762 / (011) 98762-4127</span>
									</i>
								</small>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="clear: both;"></div>
	</body>
</html>
