<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	</head>
	<body>
		<div style="padding: 10px; float: left;">
			<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" style="width: 500px; font-family:'Open Sans',Helvetica, Arial, sans-serif; font-size:14px; line-height:20px; color: #4D4B47; border-left: 1px solid #DBDBDB; border-right: 1px solid #DBDBDB; border-bottom: 1px solid #DBDBDB;background-color:#FFF">
				<tbody>
					<tr>
						<td style="padding: 10px; background-color:rgba(36, 148, 242, 1); border-top: 3px solid #0071C1; border-bottom: 1px solid #DBDBDB;">
							<a href="http://www.maiscambio.com.br" target="_blank">MaisCâmbio</a>
						</td>
					</tr>	
					<tr >
						<td style="text-align: center; padding: 20px 0px; border-bottom: 1px solid #DBDBDB;">
							   <h1>Ol&aacute;, <small><i>foi adquirido uma nova licen&ccedil;a de <span class="dias">#___DIAS___#</span>.</i></small></h1>
							   <h3 class="cnpj_cpf">#___CNPJ_CPF___#</h3>
						</td>					
					 </tr>
					<tr>
						<td style="padding-left: 30px; padding-right: 30px">
							<p style="text-align: left">
								Para <b>ativa-la</b>, basta acessar seu ambiente <b>Gerenciarme</b>.
								<br />
								<br />
								<i>
									Caso seu ambiente for online: <a style="color:#2980b9;" href="http://www.sistema.gerenciar.me/autenticacao?licenca=#___ENCODED_LICENCA___#" target="_blank">www.sistema.gerenciar.me</a>
									<br />
									Caso local: <a style="color:#2980b9;"  href="http://www.interno.gerenciar.me/autenticacao?licenca=#___ENCODED_LICENCA___#" target="_blank">www.interno.gerenciar.me</a>
								</i>
								<br />
								<br />
								<h3 class="licenca" style="word-wrap: break-word; width: 538px; line-height: 30px; text-align: center;">#___DECODED_LICENCA___#</h3>
								<br />
								Estamos &agrave; disposi&ccedil;&atilde;o para eventuais d&uacute;vidas.
								<br />
								<br />
								<i>
									Atenciosamente,
									<br />
									Equipe <b>Gerenciarme<b>.
								</i>
							</p>
						</td>
					</tr>
					<tr>
						<td bgcolor="#edeeee" style="padding: 10px; text-align: center; color: #2980b9;">
							<div>
								<i>
									<a href="http://www.gerenciar.me" target="_blank" style="text-decoration:none; color: #2980b9;">www.gerenciar.me</a>
								</i>
							</div>
							<div style="padding-top: 5px;">
								<small>
									<i>
										<a href="tel://+55 11 23522562" style="text-decoration:none; color: #2980b9;">(011) 2352-2562</a> / <a href="tel://+55 11 98762-4127" style="text-decoration:none; color: #2980b9;">(011) 98762-4127</a>
									</i>
								</small>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="clear: both;"></div>
	</body>
</html>
