#query {
	padding: 0 10px;
}
#query fieldset {
	margin: 20px 0 10px 0;
}
#query legend {
	margin: 0;
	font-size: 17px;
}
#query .checkbox, #query .radio {
	margin-left: 10px;
}
#query .form-group {
	margin-bottom: 15px;
}