body {
	background-image: url(../img/background_city.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#moeda-chooser, #estado-chooser {
	font-size: 18px;
}
#taxas-boxes-container {
	position: relative;
}
#taxas-boxes-container .taxa-box-container {
	padding: 10px;
}
#taxas-boxes-container .taxa-box-container a {
	display: block;
	outline-color: transparent;
}
#taxas-boxes-container .taxa-box-container .taxa-box {
	position: relative;
	background-color: #57c77f;
	padding: 10px;
	color: white;
	font-weight: bold;
	border: 1px solid #055421;
}
#taxas-boxes-container .taxa-box-container .taxa-box [class*=col-] {
	padding: 0;
}
#taxas-boxes-container .taxa-box-container .taxa-box hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid #055421;
}
#taxas-boxes-container .taxa-box-container .taxa-box .icon img {
	width: 100%;
}
#taxas-boxes-container .taxa-box-container .taxa-box .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
#taxas-boxes-container .taxa-box-container .taxa-box .especie,
#taxas-boxes-container .taxa-box-container .taxa-box .cartao {
	font-size: 1.5em;
}
@media (max-width: 767px) {
	#taxas-boxes-container .taxa-box-container .taxa-box .especie,
	#taxas-boxes-container .taxa-box-container .taxa-box .cartao {
		font-size: 1em;
	}
}
#taxas-boxes-container .taxa-box-container.active .taxa-box .cover,
#taxas-boxes-container .taxa-box-container a:hover .taxa-box .cover,
#taxas-boxes-container .taxa-box-container a:focus .taxa-box .cover {
	display: none;
}